<div>
  <div>
    <%= avatar shout.user %>
    <%= link_to shout.username, shout.user %>
    <i><%= time_ago_in_words(shout.created_at) %> ago</i>
        <%= link_to shout do %>🔗<% end %>
  </div>
  <%= render shout.content %>
  <%= like_button shout %>
</div>
<br />
